.cartContainer{
    width: 100%;
    flex-direction: column;
    .cartList{
        margin: 80px auto;
    }
    .total-price{
        display: flex;
        justify-content: flex-end;
        .total-table{
            color: white;
            font-size: 20px;
            font-weight: bold;
            background: rgb(56, 56, 56);
        }
    }
}
