.detailBox{
    width: 60%;
    height:100%;
    margin:150px auto;
    display: flex;
    flex-direction: column;
    .productDetailBox{
        display: flex;
        width: 80%;
        margin: 0% auto;
        .imgDetailContainer{
            width: 50%;
            img{ 
                width:100%;
                height: 400px;
            }
        }
        .contentDetailContainer{
            margin-left: 5%;
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-top: 5%;
            // justify-content: center;
            p{
                width:50%;
                margin:10% auto;
            }
            .priceDetail{
                font-size: 1.2rem;
                font-weight: bold;
                margin: 15px 0px;
            }
            .go-cart-button{
                font-weight: bold;
                cursor: pointer;
                padding: 10px 15px;
                color: white;
                background: black;
                border: none;
            }
            .set-cantidad{
                margin: 5px 0px;
            }
        }
    }
    .productDetailDescription{
        width: 80%;
        margin: 1% auto;
        
    }
}

@media only screen and (max-width: 700px){
    .detailBox{
        width: 90%;
        margin: 80px auto;
        .productDetailBox{
            flex-direction: column;
            .imgDetailContainer{
                width: 100%;
            }
            .contentDetailContainer{
                margin: 0;
                width: 100%;
            }
        }
    }
}
