.item-box{
    font-family: 'Roboto', sans-serif;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #d8d8d8;
    // border-radius: 10px;
    margin: 15px;
    &:hover{
        -webkit-box-shadow: 0px 5px 10px 0px rgba(23, 50, 50, 0.36);
        -moz-box-shadow: 0px 5px 10px 0px rgba(23, 50, 50, 0.36);
        box-shadow: 0px 5px 10px 0px rgba(23, 50, 50, 0.36);
    }
    .item-img-container{
        width: 100%;
        height: 350px;
        .item-img{
            width: 100%;
            height: 100%;
        }
    }
    .item-bottom{
        width: 100%;
        height:150px;
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-content: space-around;
        h2{
            display: flex;
            margin: 1%;
            font-size: 1rem;
            font-weight: 400;
        }
        p{
            display: flex;
            margin: 1%;
            font-size: 1.5rem;
            font-weight: bold;
            width: 100%;
        }
        .item-button{
            transition: all 1s ease;
            color: black;
            border: none;
            background: #A95E47;
            width: 30%;
            margin: 1%;
            padding: 10px 20px;
            cursor: pointer;
        }
    }
}