.color1 {color: #130907;}
.color2 {color: #183842;}
.color3 {color: #f19671;}
.color4 {color: #efcd6f;}
.color5 {color: #f4eda9;}

.navBar{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    width: 100%;
    height: 7vh;
    background-color:#232f3e; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid  #002217;
    .logoContainer{
        display: flex;
        align-items: center;
        .logo{
            width: 4%;
            height: 4%;
        }
        p{
            font-size: 1.6rem;
        }
    }
    .navMenu{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .searchBar{
            border-radius: 8px;
            padding:6px;
            &:focus{
                outline: none;
            }
        }
        p{
            font-size: 1rem;
        }
        i{
            font-size: 1.3rem;
            padding: 1%;
        }
    }
}