// .cartItemBox{
//     width: 250px;
//     border: black 1px solid;
// }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    width: 70%;
    margin: auto;
    .cart-info{
        display: flex;
        flex-wrap: wrap;
        border-collapse: collapse;
        img{
            width: 100px;
            height: 100px;
            margin-right: 10px;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            p{
                padding: 5px;
            }
            // align-items: center;
            // align-content: center;
        }
    }
    th{
        text-align:center;
        padding: 5px;
        color: white;
        width: 33%;
        background: #A95E47;
    }
    td{
        text-align: center;
    }
}