.itemBtnContainer{
    width: 100px;
    height: 12%;
    justify-content: center;
    display: flex;
    margin: 5px 0px;
    border: rgb(65, 65, 65) solid 1px;
    padding: 10px 15px;
    align-items: center;
    span{
        font-weight: bold;
        padding: 0px 10px;
    }
}
.button-add-cart{
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    color: white;
    background: black;
    border: none;
}
.error-cantidad{
    color: red;
    margin: 5px 0px !important;
}