.color1 {color: #130907;}
.color2 {color: #183842;}
.color3 {color: #f19671;}
.color4 {color: #efcd6f;}
.color5 {color: #f4eda9;}

.navBar{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
        .logo{
            display: inline-block;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            border: none;
            font: normal 40px/1 "Aladin", Helvetica, sans-serif;
            color: rgba(255,255,255,0.7);
            text-align: center;
            text-transform: normal;
            -o-text-overflow: clip;
            text-overflow: clip;
            white-space: pre;
            text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
        }
    .navMenu{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        .searchBar{
            border:none;
            padding-right:1rem ;
            border-bottom: 1px solid black;
            margin-bottom: 1rem;
            margin-top: 1rem;
            &:focus{
                outline: none;
            }
        }
        p{
            color:rgba($color: #ffffff, $alpha: 0.7);
            padding: 1rem;
            font-size: 1rem;
            text-decoration: none;
            &:hover{
            color: white ;
            cursor: pointer;
            text-decoration: none;
            }
        }
        i{
            color:rgba($color: #ffffff, $alpha: 0.7);
            font-size: 1.3rem;
            padding: 1rem;
            &:hover{
                color: white ;
                cursor: pointer;
            }
        }  
    }
}